@model dynamic
@using Vidly.ViewModels

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<h2>Hi &nbsp; @Model.customer.Name</h2>
<hr />
<ul>
    <li>Membership Type: @Model.customer.MembershipType</li>
    @if (true)
    {
        <li>Birthdate: @Model.customer.Birthdate.ToShortDateString()</li>
    }
    Rentals : <hr/>
    <li>
        @{
            var i = 0;
            foreach (var rental in Model.rentals)
            {
                <div>
                    @*<h5>Date Rented : @rental.DateRented </h5> *@

                    @* Card *@
                    <div class="col-sm-6">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="@Url.Content(Model.imagesPath[i].ImagePath)" style="width: 200px; height:200px" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title  btn-primary btn-lg"><b> @rental.Movie.Name </b></h5>
                                <p class="card-text"></p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"></li>
                                <li class="list-group-item">@Html.ActionLink("Delete "+(string)rental.Movie.Name + " From Rent" , "ShowVideo", "Videos", new { id = rental.Movie.Id }, null)</li>
                                <li class="list-group-item"></li>
                            </ul>
                            <div class="card-body">

                                <!--<h5> <a href="~/Videos/ShowVideo/" +  rental.Movie.Id class="card-link btn-primary btn-lg"><b> Go To Card Link </b></a> </h5> -->
                                <hr />
                            </div>
                        </div>
                    </div>
                </div>
                { i = i + 1; }
            }
        }
    </li>
</ul>