@model Vidly.ViewModels.NewMovieViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Moview</h2>

@using (Html.BeginForm("Create", "Movies"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Movie.Name)
        @Html.TextBoxFor(m => m.Movie.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Movie.Name)
    </div>
    <br/>
    <div class="form-group">
        @Html.LabelFor(m => m.Movie.ReleaseDate)
        @Html.TextBoxFor(m => m.Movie.ReleaseDate, "{0:d MMM yyyy}",new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Movie.ReleaseDate)
    </div>
    <br/>
    <div class="form-group">
        @Html.LabelFor(m => m.Movie.NumberInStocks)
        @Html.TextBoxFor(m => m.Movie.NumberInStocks, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Movie.NumberInStocks)
    </div>
    <br/>
    <div class="form-group">
        @Html.LabelFor(m => m.Movie.DateAdded)
        @Html.TextBoxFor(m => m.Movie.DateAdded, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Movie.DateAdded)
    </div>
    <br/>
    <div class="form-group">
        @Html.LabelFor(m => m.Movie.GenreId)
        @Html.DropDownListFor(m => m.Movie.GenreId, new SelectList(Model.Genres,"Id","Name") , "Select Genre Type" , new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Movie.GenreId)
    </div>
    <br/>
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}