

@{
    ViewBag.Title = "VideosList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<h2>Hi &nbsp; @Model.customer.Name &nbsp; @* Model.customer.Id *@</h2>
<hr />
<a href="#"><h4 class="card-title  btn-primary btn-lg" style="width: 18rem;">Watch Your Videos</h4></a>
<ul>
    <li>
        @{
            var i = 0;
            foreach (var movie in Model.movies)
            {
                <div>
                    @*<h5>Date Rented : @rental.DateRented </h5> *@

                    @* Card *@
                    <div class="col-sm-6">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="@Url.Content(Model.imagesPath[i].ImagePath)" style="width: 300px; height:400px" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title  btn-primary btn-lg"><b> @movie.Name </b></h5>
                                <p class="card-text"></p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"></li>
                                <li class="list-group-item">@Html.ActionLink("Watch  " + (string)movie.Name, "ShowVideo", "Videos", new { id = movie.Id }, null)</li>
                                <li class="list-group-item"></li>
                            </ul>
                            <div class="card-body">

                                <!--<h5> <a href="~/Videos/ShowVideo/" +  rental.Movie.Id class="card-link btn-primary btn-lg"><b> Go To Card Link </b></a> </h5> -->
                                
                                <hr />
                            </div>
                        </div>
                    </div>
                </div>
                { i = i + 1; }
            }
        }
    </li>
</ul>